@font-face {
  font-family: Merriweather;
  src: url('./Merriweather-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Merriweather;
  src: url('./Merriweather-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GolosText;
  src: url('./GolosText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GolosText;
  src: url('./GolosText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GolosText;
  src: url('./GolosText-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GolosText;
  src: url('./GolosText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* body {
	font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'GolosText', sans-serif;
	font-weight: bold;
}

p {
	font-family: 'Merriweather', serif;
} */
