header {
  background-color: #e9ded4;
  color: #313131;
  text-align: center;
  
  /* width: 100vw; */
	width: 100%;
  /* margin: 0;
  padding: 0; */
  overflow: hidden;
}

.header-container {
	max-width: 1366px;
	background-color: #e9ded4;
	margin: 0 auto;
}

.logo-container {
  padding-top: 27px;
  padding-bottom: 97px;
  display: flex;
  gap: 1px; /* Расстояние между SVG */
  width: 100%;
  max-height: 36px;
  padding-inline-start: 72px;
	position: relative;
}

.logo-text {
  padding-left: 6px;
  font-family: var(--main-font);
  color: #313131;
  font-size: 16.65px;
  font-weight: bold;
  text-align: left;
  line-height: 103%;
  display: flex;
  gap: 5px;
  z-index: 10;
}

header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: var(--accent-font);
  color: #313131;
  font-size: 60px;
  font-weight: normal;
  line-height: 110%;
  letter-spacing: 0;
  margin-bottom: 24px;
  z-index: 10;
}

.left-align {
  width: 100%;
  text-align: left;
}

.center-align {
  width: 100%;
  text-align: center;
  padding-right: 5px;
}

.bottom-align {
  padding-left: 28px;
}

header p {
  margin: 0 0 38px;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  padding-right: 5px;
  line-height: 130%;
  z-index: 10;
  color: #313131;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  margin-bottom: 20px;
  padding-right: 6px;
  z-index: 10;
}

.btn {
  text-decoration: none;
  border-radius: 66px;
  font-family: var(--main-font);
  font-weight: 400;
  transition: background 0.3s;
}

.btn-left {
  background: #1f1f1f;
  color: #fff;
  padding: 17px 55px;
  min-width: 263px;
  max-height: 72px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.btn-right {
  border: 2px solid #1f1f1f;
  color: #1f1f1f;
  padding: 14px 80px;
  max-height: 72px;
  min-width: 263px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.btn-left:hover {
  background: #fbce51;
  color: #1f1f1f;
}

.btn-right:hover {
  background: #1f1f1f;
  color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  max-height: 444px;
  padding-inline-start: 72px;
  margin-bottom: 132px;
}

section {
  background-color: #fff;
}

.section-support {
  padding-top: 108px;
}

section .section-event {
  margin-top: 67px;
}

.section h2 {
  font-family: var(--accent-font);
  text-align: left;
  max-width: 820px;
  max-height: 196px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
  color: #313131;
}

.title-support {
  display: flex;
  flex-direction: column;
  padding-inline-start: 5.3%;
  font-size: 36px;
  min-width: 40%;
  gap: 3px;
}

.title-support .title-support_red {
  letter-spacing: 0.51px;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  min-height: 528px;
  padding-inline-end: 57px;
  padding-left: 45px;
}

.mobile-row {
  display: none;
}

.left {
  background-image: url('../images/paiments.png');
  background-size: cover;
  margin-top: -20px;
  width: 100%;
  min-height: 590px;
}

.right {
  display: grid;
  align-items: center;
  font-family: var(--main-font);
  min-width: 704px;
  margin: 0;
}

.right .title-grid {
  max-width: 670px;
  min-height: 147px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  text-transform: uppercase;
  color: #313131;
  font-size: 36px;
}

.title-grid {
  padding-top: 4px;
  padding-bottom: 14px;
}

.right .title-grid span {
  letter-spacing: 0.47px;
}

.right h3 {
  text-transform: uppercase;
}

.right .title-grid .new-line {
	letter-spacing: 0.1px;
}

.right table {
  width: 100%;
  border-collapse: collapse;
  min-height: 248px;
}

.right table,
.right th,
.right td {
  border: none; /* убираем границу у таблицы и ячеек */
}

.right th {
  font-weight: normal;
  text-align: left;
  width: 306px;
}

.right td {
  font-weight: 600;
  padding-left: 16px;
}

.th-first,
.td-first {
  padding-bottom: 11px;
}

.no-border .th-last,
.no-border .td-last {
  padding-top: 10px;
}

.right th,
.right td {
  border-bottom: 1px solid #ddd; /* добавляем границу только снизу у ячеек */
  border-right: 1px solid #ddd;
  text-align: left;
  vertical-align: middle; /* выравниваем содержимое по центру по вертикали */
  color: #313131;
  font-size: 20px;
  position: relative; /* Для работы с псевдоэлементами */

  /* padding-top: 12px; */
}

.no-border th,
.no-border td {
  border-bottom: none; /* убираем нижнюю границу у последних ячеек таблицы */
}

.right th:last-child,
.right td:last-child {
  border-right: none; /* убираем правую границу у последних ячеек в строке */
}

/* Первый и последний ряды */
tr:first-child,
tr:last-child {
  height: 40px; /* Высота 40px */
}

/* Средние ряды */
tr:not(:first-child, :last-child) {
  height: 56px; /* Высота 56px */
}

/* Вертикальный центральный бордер */
th + td::before,
td + th::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px; /* Позиция вертикального бордера */
  width: 2px;
}

.bottom-grig-text {
  font-size: 20px;
  color: #3057a2;
  font-weight: 400;
  line-height: 15%;
  padding-top: 10px;
  padding-bottom: 4px;
}

/* transformation-steps block */

.section-transformation-steps {
  margin-top: 169px;
  padding-inline-end: 70px;
  color: #313131;
}

.transformation-steps-container {
  width: 80%;
  margin-inline-start: 52px;
  padding: 20px;
}

.container-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  column-gap: 18px;
  row-gap: 33px;
  width: 100%;
  font-size: 20px;
  color: #313131;
  padding: 37px 0 0 72px;
  font-family: var(--main-font);
}

.container-card_mobile {
  display: none;
}

.card {
  background-color: #fff;
  padding-left: 19px;
  padding-top: 22px;
  position: relative;
  display: flex;
  align-items: flex-start;
  line-height: 122%;
}

.card1 .content {
  max-width: 300px;
}

.card2 {
  padding-left: 22px;
  padding-right: 0;
}

.card3 {
  grid-column: span 1;
  grid-row: span 2;
  letter-spacing: 0.1px;
  padding-left: 22px;
  padding-right: 20px;
}

.card4 {
  grid-column: 1;
  grid-row: 2;
}

.card5 {
  grid-column: 2;
  grid-row: 2;
  padding-left: 22px;
  max-width: 300px;
}

.card6 {
  grid-column: 1;
  grid-row: 3;
  min-width: 394px;
  padding-bottom: 15px;
}

.card7 {
  grid-column: 2 / 4;
  grid-row: 3;
  min-width: 808px;
  padding-left: 21px;
}

.gray-bg {
  background-color: #f0f0f0;
}

.card .number {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  margin-right: 18px;
}

.card .content {
  flex: 1;
  font-family: var(--main-font);
}

.card .content7 {
  max-width: 414px;
  letter-spacing: 0.1px;
  line-height: 119%;
}

.big-header {
  font-size: 54px;
  text-transform: uppercase;
  font-family: var(--accent-font);
  text-align: left;
  line-height: 100%;
}

.big-header .small-text-wrapper {
  display: flex;
  padding-top: 10px;
}

.big-header .small-text-wrapper span {
  margin-right: 20px;
}

.big-header small {
  font-size: 20px;
  color: #3057a2;
  text-transform: none;
  font-family: var(--main-font);
  padding-block-end: 8px;
  display: flex;
  max-width: 280px;
  max-height: 48px;
  line-height: 130%;
}

.carousel-container {
  margin-left: 72px;
  margin-top: 190px;
  width: 91%;
  text-align: center;
}

.carousel-container_mobile {
  display: none;
}

.carousel-controls_mobile {
  display: none;
}

.participants-title {
  margin-bottom: 29px;
  font-size: 54px;
  color: #313131;
  font-family: var(--accent-font);
  font-weight: normal;
}

.header-with-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #313131;
}

.controls {
  display: flex;
  align-items: center;
  gap: 13px;
  padding-top: 21px;
  max-width: 151px;
  position: relative;
  left: -9px;
}

.mobile-controls {
  display: none;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.nav-button {
  max-width: 44px;
  max-height: 44px;
  border-radius: 50%;
  border: none;
  background-color: #313131;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.nav-button .circle {
  fill: #313131;
}

.nav-button:disabled .circle {
  fill: #d6d6d6;
}

.nav-button:not(:disabled):hover .circle {
  fill: #fbce51;
}

.nav-button .arrow {
  stroke: white;
}

.nav-button img {
  width: 44px;
  height: 44px;
}

#carouselStatus {
  font-family: var(--main-font);
  font-size: 16px;
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  gap: 20px;
}

.carousel-card {
  min-width: 394px;
  flex-shrink: 0;
  transition: transform 0.5s ease-in-out;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.card-image img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
}

.card-info h3 {
  color: #313131;
  text-align: center;
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0 -3px;
}

.card-info p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #313131;
  opacity: 0.6;
  margin-bottom: 20px;
}

.card-info a {
  margin-top: 10px;
  color: #3057a2;
  text-decoration: none;
  padding: 7px 12px;
  gap: 10px;
  min-width: 113px;
  min-height: 35px;
  border: 1px solid #3057a2;
  border-radius: 62px;
  font-size: 16px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
}

.card-button:hover {
  color: #fff;
  background-color: #3057a2;
}

.circle {
  width: 880px;
  height: 880px;
  position: absolute;
  z-index: 0;
  top: -22%;
  left: 41.7%;
}

.circle text {
  font-size: 4px; /* Шрифт адаптируется пропорционально кругу */
  fill: #f79d00;
  transform: rotate(0deg);
  font-family: var(--accent-font);
}

.circle svg {
  animation: rotate 25s linear infinite; /* Анимация без изменений */
}

/* Анимация вращения */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.marquee {
  display: flex;
  align-items: center;
  /* overflow: hidden; Скрываем все, что выходит за пределы */
  white-space: nowrap;
  background-color: #ff5722;
  color: #fff;
  padding: 20px 0;
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-size: 1.375rem;
  max-height: 60px;
	min-width: 1980px;
}

.marquee span {
  display: inline-block;
  padding-right: 2rem; /* Отступ между текстами */
  animation: marquee 20s linear infinite; /* Бесконечная анимация */
}

@keyframes marquee {
  0% {
    transform: translateX(0); /* Стартовое положение */
  }

  100% {
    transform: translateX(-100%); /* Движение влево до конца содержимого */
  }
}

footer {
  width: 100%;
  padding-top: 123px;
}

.footer-info {
  width: 100%;
  background-color: #e9ded4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 38px 0 68px;
  box-sizing: border-box;
}

.footer-info .container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1336px;
  padding: 0 60px 0 64px;
  box-sizing: border-box;
  text-align: start; /* Центрируем текст */
}

.footer-info p {
  color: #313131;
  margin: 0;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: normal;
  word-break: break-word; /* Перенос слов */
  white-space: normal; /* Разрешить перенос текста */
  line-height: 1.3;
}

/* ============================================================= */
/* Отзывчивость для планшетов */
/* ============================================================= */

@media (max-width: 768px) {
  .wrapper {
    padding-inline-start: 72px;
  }

  .logo-container {
    padding-top: 33px;
    padding-left: 20px;
    padding-bottom: 58px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1px; /* Расстояние между SVG */
    max-height: 20px;
  }

  .logo {
    width: 18.5px; /* Уменьшение коня */
    height: 27px;
  }

  .logo-text {
    font-size: 14.42px;
    line-height: 115%;
    padding-left: 7px;
  }

  header h1 {
    font-size: 36px;
  }

  .wrapper {
    padding-inline-start: 20px;
    margin-bottom: 239px;
  }

  .center-align {
    padding-right: 12px;
  }

  .bottom-align {
    padding-left: 12px;
  }

  header p {
    text-align: left;
    margin-bottom: 32px;
  }

  .buttons {
    gap: 14px;
    padding-right: 16px;
    max-width: 350px;
    flex-direction: column;
    margin-bottom: 160px;
  }

  .btn-left {
    padding: 12px 35px;
    font-weight: 400;
    letter-spacing: 0.1px;
  }

  .btn-right {
    background-color: #fff;
    border: none;
    opacity: 0.9;
  }

  .btn-left:hover {
    background: #1f1f1f;
    color: #fff;
  }

  .btn-right:hover {
    color: #303030;
    background-color: #fff;
    border: none;
    opacity: 0.9;
  }

  .circle {
    width: 395px;
    height: 395px;
    top: 361px;
    right: 1px;
margin-left: -176px;
  }

  .marquee {
    font-size: 16px; /* Уменьшение размера шрифта */
    height: 38px;
    padding: 10px 0;
  }

  .marquee span {
    line-height: 90%;
  }

  .section-support {
    padding-top: 48px;
  }

  .title-support {
    padding-inline-start: 20px;
    font-size: 28px;
  }

  .title-support_black {
    max-width: 335px;
    line-height: 133%;
  }

  .title-support_black-mobile {
    display: flex;
    padding-top: 263px;
  }

  .title-support .title-support_red {
    max-width: 335px;
    margin-top: -1px;
    font-weight: bold;
    letter-spacing: -0.1px;
  }

  .container-grid {
    display: flex; /* Изменяем на flex */
    flex-direction: column; /* Располагаем блоки вертикально */
    gap: 22px;
    padding-top: 343px;
  }

  .left {
    min-height: 414px;
    min-width: 375px;
    margin-left: -44px;
  }

  .right {
    min-width: 335px;
    margin-left: -24px;
  }

  .right .title-grid {
    font-size: 28px;
  }

  .right .new-line {
    padding-right: 14px;
  }

  .right .title-grid span {
    font-weight: bold;
    letter-spacing: -0.1px;
  }

  .right .title-grid .new-line {
    display: block;
    letter-spacing: -0.5px;
  }

  .right table {
    margin-top: 74px;
  }

  table {
    display: block;
    width: 100%;
  }

  tr {
    display: flex;
    flex-flow: column nowrap; /* Запрещаем перенос строк */
    justify-content: flex-start;
    margin-bottom: 52px;
  }

  .right .tickets {
    margin-top: -16px;
  }

  .right table th,
  .right table td {
    text-align: left;
    white-space: nowrap;
    padding: 0; /* Сброс отступов */
    margin: 0; /* Сброс внешних отступов */
    min-width: 335px;
  }

  .right table th {
    margin-bottom: 5px;
    border: none;
  }

  .right table td {
    border-bottom: 2px solid #d0d0d0;
    padding-bottom: 11px;
  }

  .desktop-row {
    display: none;
  }

  .mobile-row {
    display: flex;
    flex-wrap: nowrap; /* Отключаем перенос */
    justify-content: space-between; /* Распределение по краям */
    align-items: center; /* Вертикальное выравнивание */
    margin-top: -32px;
  }

  .right .no-border {
    margin-top: -62px;
  }

  .no-border .td-last {
    padding-top: 0;
  }

  .mobile-row .label {
    letter-spacing: 0;
    font-weight: normal;
  }

  .mobile-row .label b {
    padding-left: 5px;
  }

  .bottom-grig-text {
    display: flex;
    justify-content: left;
    min-height: 44px;
    max-width: 320px;
    font-size: 18px;
    line-height: 116%;
    border: none;
    padding-top: 24px;
  }

  .section-transformation-steps {
    margin-top: 96px;
    margin-left: -52px;
  }

  .transformation-steps-container {
    max-width: 365px;
  }

  .big-header {
    font-size: 36px;
  }

  .big-header-title {
    line-height: 110%;
  }

  .big-header .small-text-wrapper {
    padding-top: 2px;
    flex-direction: column;
  }

  .big-header small {
    margin-top: 11px;
    min-width: 330px;
    font-size: 18px;
    line-height: 120%;
  }

  .container-card {
    display: none;
  }

  .section-transformation-steps {
    padding-right: 20px;
    margin: 0 auto;
  }

  .transformation-steps-container {
    margin-top: 97px;
    margin-left: 0;
  }

  .container-card_mobile {
    display: flex;
  }

  /* Контейнер карусели */
  .carousel-container_mobile {
    height: 300px; /* Высота контейнера соответствует карточке */
    display: flex;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 124px;
    overflow: hidden; /* Скрываем карточки за пределами */
    /* background-color: #f9f9f9; */
    width: 100%;
    position: relative;
  }

  /* Трек карусели */
  .carousel-track_mobile {
    display: flex; /* Горизонтальное расположение карточек */
		/* overflow: hidden; */
    transition: transform 0.5s ease-in-out; /* Анимация переключения */
  }

  /* Карточки */
  .card_mobile {
    min-width: 335px; /* Ширина карточки */
    height: 300px; /* Высота карточки */
    background-color: #d9d9d9;
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 32px;
    gap: 24px;
    margin-right: 200px; /* Отступ между карточками */
    flex-shrink: 0;
  }

  .card_mobile-second {
    flex-direction: row;
    padding-top: 63px;
    justify-content: left;
    gap: 16px;
  }

  .card_mobile-fird {
    justify-content: flex-start;
  }

  .card_mobile-wrapper-fird {
    padding-top: 30px;
  }

  .card_mobile-wrapper-fird-two {
    padding-top: 4px;
  }

  .card_mobile-fourth {
    flex-direction: row;
    padding-top: 63px;
    justify-content: left;
    gap: 16px;
  }

  .card_mobile-fifth {
    flex-direction: row;
    padding-top: 62px;
    justify-content: left;
    gap: 16px;
  }

  .card_mobile .card_mobile-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 16px; /* Расстояние между номером и текстом */
  }

	.carousel-controls_mobile-wrapper {
max-width: 20.8%;
	}

  .card_mobile-wrapper-first-raw {
    padding-bottom: 3px;
  }

  /* Номер карточки */
  .number_mobile {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    font-family: var(--main-font);
    color: #000;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    flex-shrink: 0; /* Не сжимать кружок */
  }

  /* Текст карточки */
  .content_mobile {
    max-width: 239px;
    font-size: 18px;
    color: #313131;
    line-height: 124%;
    letter-spacing: 0.1px;
  }

  .content_mobile-second-raw {
    padding-bottom: 3px;
  }

  .carousel-controls_mobile-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    gap: 16px;
    margin-left: -4px;
  }

  /* Контейнер управления каруселью */
  .carousel-controls_mobile {
    display: flex;
    padding-top: 28px;
		justify-content: center;
		width: 14.1%;
  }

  /* Кнопки навигации (стрелки) */
  .nav-button_mobile {
    width: 36px;
    height: 36px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  /* Контейнер для индикаторов */
  .carousel-indicators_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px; /* Отступы между кружками */
  }

  /* Индикаторы-кружки */
  .carousel-indicator {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-with-controls {
    margin-top: 119px;
    flex-direction: column; /* Располагаем элементы в колонку */
    align-items: center;
    gap: 20px; /* Добавляем отступы между заголовком и кнопками */
  }

  .participants-title {
    font-size: 36px;
    padding-left: 10px;
    line-height: 117%;
    width: 100%; /* Занять всю ширину доступного контейнера */
    text-align: left; /* Выровнять текст по левому краю */
    margin-inline-start: 20px; /* Убедиться, что нет отступов слева */
  }

  .carousel-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .header-with-controls .desktop-controls {
    display: none;
  }

  .mobile-controls {
    display: flex;
  }

  .carousel .mobile-controls {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .carousel-card {
    min-width: 100%; /* Карточки занимают всю ширину экрана */
  }

  .card-image img {
    width: 244px;
    height: 244px;
    border-radius: 50%;
    margin-bottom: -2px;
  }

  .card-content {
    padding: 7px;
  }

  .nav-button:not(:disabled):hover .circle {
    fill: #d9d9d9;
  }

  .card-info h3 {
    margin-bottom: -1px;
  }

  .mobile-controls {
    padding-top: 46px;
    gap: 15px;
  }

  .mobile-controls span {
    font-size: 16px;
    font-family: var(--main-font);
  }

  #carouselStatusMobile {
    letter-spacing: -1.2px;
  }

  footer {
    padding-top: 91px;
  }

  .footer-info {
    padding-top: 39px;
  }

  footer .footer-info .container-footer {
    min-width: 335px;
    min-height: 114px;
    padding: 0 20px;
  }

  .container-footer p {
    line-height: 120%;
  }
}

/* ========================================================== */
@media (min-width: 1440px) {
	.circle {
		top: -22%;
		left: 43.8%;
	}

.title-support {
	padding-left: 18.1%;
	min-width: 60%;
}

.container-grid {
	padding-inline-end: 18.1%;
	padding-left: 16.8%;
}

.section-transformation-steps {
	padding-inline-end: 18.4%;
	padding-inline-start: 14.4%;
}

.section-carousel {
	max-width: 82.2%;
padding-inline-start: 14.5%;
overflow: hidden;
}

.header-with-controls {
	width: 104%;
}

.carousel {
	flex: 0 0 33.33%;
	gap: 19px;
}

.footer-info .container-footer {
padding-left: 3%; 
}
}